@model Nakliyat.ViewModels.HizmetViewModel
@{
    ViewBag.Title = "Hizmet Bölgelerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row w3-footer-contact-icon1">
        @foreach (var item in Model.pagesHizmetEklemeV)
        {
            <div class="col-md-4 col-sm-6 "><i class="fa fa-map-marker"></i><a href="/Home/HizmetBolgelerimiz?name=@item.sayfaAdıIngilizceHarfli">@item.goruntulenecekAd</a></div>
        }



    </div>
    </div>

@section header{
    <style>
        .row.w3-footer-contact-icon1 a{margin-left:15px;font-size:20px;}
        .row.w3-footer-contact-icon1{margin-top:150px;margin-bottom:100px;text-align:center;}
    </style>
    }
